/*
 | Device Map
 * - - - - - - - - - - - - - - - - - - - - - - - - - */

$app-media-device: (

  name: 'large',
  type: 'device',

  min-width: 1200,
  max-width: 1600

);

/*
 | Device Face
 * - - - - - - - - - - - - - - - - - - - - - - - - - */

@import "../../faces/device";