/*
 | Device Map
 * - - - - - - - - - - - - - - - - - - - - - - - - - */

$app-media-device: (

  name: 'small',
  type: 'device',

  min-width: 768,
  max-width: 991

);

/*
 | Device Face
 * - - - - - - - - - - - - - - - - - - - - - - - - - */

@import "../../faces/device";