/*
 * Face Maps
 *
 * - - - - - - - - - - - - - - - - - - - - - - - - - */

/*
 | Colors main map
 * - - - - - - - - - - - - - - - - - - - - - - - - - */

$app-paint-colors: ();

/*
 | Devices main map
 * - - - - - - - - - - - - - - - - - - - - - - - - - */

$app-media-devices: ();

/*
 | Fonts main map
 * - - - - - - - - - - - - - - - - - - - - - - - - - */

$app-typography-fonts: ();