/*
 * Utility
 *
 * - - - - - - - - - - - - - - - - - - - - - - - - - */

@mixin app-utility-clearfix-set() {
  &:before, &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

@mixin app-utility-vendorize-set($property, $value) {
  $value: unquote($value);
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}

@mixin app-utility-offscreen-set() {
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  display: block;
  font-size: 0;
  text-align: start;
}